body {
    box-sizing: border-box;
}
.main {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    .scare-crow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;   
        height: auto;
        h5 {
            position: fixed;
            top: 0;
            left: 20px;
            font-family: 'Inconsolata', monospace;
        }
        img {
            margin-top: 40px;
            max-width: 80%;
            height: auto;
        }
    }
    .content {
        button {
            font-family: 'Space Mono', monospace;
            text-transform: uppercase;
        }
    }
}